.container { 
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    grid-gap: 5px;
    
    
}
.jumbotron {
    background-color: #ffffff;
    font-family: 'Tahoma' sans-serif
    
}
.jumbotron p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

