body {
    margin:0px;
    padding:0px;
}


div > P:nth-child(2){

    color: red;
   
}
div p {
    color: blue;
}


.box {
    width: 100px;
    height: 100px;
    background-color:white;
    margin: 20px;
    border-radius: 5px;
    padding: 20px
}